{% extends 'main.html' %} {% load static %} {% block content %}
    <div class="container-fluid p-0 mb-5">
      <img src="{% static 'images/arc.jpg' %}" alt="" class="img-fluid" />
    </div>
     


    <div class="container">
      <div class="row">
        

        <div class="col-md-5">
          <img src="{% static 'images/ah-2.jpg' %}" class="img-fluid" >
        </div>
        <div class="col-md-7">
          <p >
            SNVETECH Architectures is one of the leading architecture and interior firm that is born and bred in the city of hyderabad.
            Architectures and home renovation platform that connects interior designers, homeowners and vendors. We provide efficient residential designs and commercial designs. Our interior designers provide end to end services across various kinds of home interior needs- full home interiors, modular kitchens, wardrobes and storages, living rooms,office designs and more. Explore from among thousands of interior designs, get free estimates and talk to our designers.
          </p>
        </div>

       

      </div>
    </div>


    <!-- <div class="container mt-5">
      <div class="row">
        <div class="client-area">
          <div class="container">
            <h3 class="heading ">
              Our
              Clients
            </h3>
            <div class="logo-area slider mt-4">
              <div class="slide"><img src="images/1.png" alt="" /></div>
              <div class="slide"><img src="images/2.jpg" alt="" /></div>
              <div class="slide"><img src="images/3.png" alt="" /></div>
              <div class="slide"><img src="images/5.png" alt="" /></div>
              <div class="slide"><img src="images/6.png" alt="" /></div>
              <div class="slide"><img src="images/7.png" alt="" /></div>
              <div class="slide"><img src="images/8.jpeg" alt="" /></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
   
  
</body>

</html>
{% endblock content%}
